
nav {
    width: 100%;
    background-color: rgb(252, 248, 248);
    padding: 30px 0;
    a {
        padding: 1.25rem;
    }
    a.navbar-brand{
        color: rgb(0,0,0);
    }
    a.nav-link{
        color: rgb(44, 39, 39);
    }

}

.container-fluid {

    display: flex;
    justify-content: center;
    background-color: rgb(252, 248, 248);
    margin-top: -150px;
    h2 {
        font-size: 3.125rem;
        align-self: center;
        width: 25rem;
        margin-left: 9.25rem;
    }

    img {
        width: 60.6875rem;
        margin-left: 60px;
    }

   

}

    .service1 {
        margin-top: 55px;
        display: flex;
        
        .section {
            width: 25rem;
            h6 {
                color:rgba(26, 46, 102, 0.76);
            }
        }
        img {
            width: 36.6875rem;
            margin-left: 60px;
        }
    }




