body {}

nav {
    width: 100%;
    background-color: rgb(247, 240, 240);
    padding: 30px 0;
    a {
        padding: 1.25rem;
    }
    a.navbar-brand{
        color: rgb(0,0,0);
    }
    a.nav-link{
        color: rgb(44, 39, 39);
    }

}

.scontainer {
    background-color: rgb(250, 248, 248);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0;
    .part {
        align-self: center;
        width: 18.75rem;
        h1 {
            width: 340px;
        }
        p {
            width: 370px;
        }

    }
    img{
        width: 32.6875rem;
    }
}

.services {
    
.service {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
    .section {
        margin-top: 20px;
        width: 20rem;
        h6 {
            color:rgba(26, 46, 102, 0.76);
        }
    }
    img {
        width: 13.6875rem;
        padding: 0;
        height: 13.875rem;
    }
}

.service2 {
    padding: 40px 0;
    background-color: rgb(250, 248, 248);
    .section {}
    img {
        margin-top: 20px;
    
        width: 11rem;
        padding: 30px;
        height: 14.875rem;
    }
}


.service4 {
    padding: 40px 0;
    background-color: rgb(250, 248, 248);
    .section {}
    img {
        padding: 30px;
        height: 14.875rem;
        width: 11rem;
    }
}
}
.team {
    background-color: rgb(250, 248, 248);
    
    width: 100%;
    padding: 40px 0;
    h2 {
        text-align: center;
        padding-bottom: 25px;
    }
        .team-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        .member {
        text-align: center;
        img {
            width: 200px;
            height: 250px;
            border: 1px solid rgba(0,0,0,.2);
        }
    }
}
}

.contact {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    h2 {
        margin: 20px 0;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        input, textarea {
            margin: 10px;
            border: 1px solid rgba(0,0,0,.3);
            width: 500px;
            padding: 7px 10px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            &::placeholder {
                color: rgba(163, 119, 119,.4);
            }
        }
        .btn {
            width: 160px;
            align-self: center;
        }
    }
    
}

.about {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: rgb(250, 248, 248);
    padding: 40px 0;
    h2 {
        text-align: center;
        padding: 20px 0;
    }
    p{
        width: 80%;
        align-self: center;
        
    }
    .values {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .value {
            width: 250px;
            height: 300px;
            border: 1px solid rgba(0,0,0,.5);
            padding: 10px 5px;
            p{
                width: 200px;
            }
        }
    }
}

footer {

    width: 100%;
    padding: 40px 0 10px 0;

    color: white;
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .social {
            width: 140px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
p.copyright {
    text-align: center;
    padding: 5px 0 0 0;
    margin-bottom: 0;
}
}


@media only screen and (max-width:950px) {
    .scontainer {
        background-color: rgb(250, 248, 248);
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        padding: 60px 0;
        .part {
            align-self: center;
            width: 400px;
            margin-top: 30px;
        }
        img{
            width: 22.6875rem;
        }
    }

}
@media only screen and (max-width:500px) {
    .team {
        .member {
            img {
                width: 300px;
                height: 280px;
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin: 20px 0;
        }
        .contact-container {
            display: flex;
            flex-direction: column;
            input, textarea {
                margin: 10px;
                border: 1px solid rgba(0,0,0,.3);
                width: 300px;
                padding: 7px 10px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                &::placeholder {
                    color: rgba(163, 119, 119,.4);
                }
            }
            .btn {
                width: 160px;
                align-self: center;
            }
        }
        
    }
}

